 /* ------ GLOBAL STYLES AND RESETS ------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --almost-black: rgba(32,33,36, .87);
  --light-grey: #737374;
  --lightest-grey: #C0C0C1;
  --scholten-navy: #093254;
  --scholten-navy--lighter: #3C6587;
  --scholten-powder-blue: rgb(165, 207, 237);
  --scholten-red: #ec1c2d;
  --scholten-red--darker: #641F1B;
  --transition-time: .3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.title {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}